<!--
Keallan Saunders 219169357
ADP3 ASSIGNMENT1
DD: Oct 2022
bookings.html
**************** DO NOT TOUCH ********************-->
<!DOCTYPE html>
<html>
<head><meta charset="ISO-8859-1">
  <title>
    Manage
  </title>
</head>


</html>
<!--DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Locations</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h2>Manage Locations</h2>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>BranchID</th>
      <th>Branch Location</th>
      <th>Branch Name</th>
      <th>Branch Cell Number</th>
      <th>Delivery ID</th>
    </tr>
    </thead>
  </table>
</div>
</body>
</html-->